.card-endereco {
    width: 30%;
    min-height: auto !important;
    box-shadow: 0px 11px 16px 0px rgba(3, 2, 2, 0.3);
    border-radius: 10px;
}

.divider-enderecos {
    border-bottom: 1px #0000004f solid;
    margin: 10px 0 10px 0;
}

.card-header {
    border: solid 1px #d0d0d0;
}

.label-principal {
    margin: 0 0 0 10px;
    border-top: 1px;
}

nav {
    background-color: #1C2331 !important;
}