<!doctype html>
<html lang="pt"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout-padrao}">
<head>
    <link rel="stylesheet" th:href="@{/vendors/slick/slick-theme.css}"/>
    <link rel="stylesheet" th:href="@{/vendors/slick/slick.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" th:href="@{/css/carrinho.css}"/>
    <link rel="stylesheet" th:href="@{/css/responsive.css}"/>
</head>
<body>

<section layout:fragment="conteudo">

    <div class="container mt-100px">

        <div class="card" style="max-height: none !important">
            <div class="card-header d-flex justify-content-between">
                <h6 class="text-center font-weight-bolder color-default font-size-12">Seu Carrinho</h6>
                <div class="d-flex align-items-center pointer" onclick="openScreenAddress()">
                    <i class="fa fa-2x fa-plus-circle"></i>
                    <span class="mx-2">Lista de Endereços</span>
                </div>

            </div>
            <div class="card-body">
                <div id="msgCarEmpty" class="text-center mt-5">
                    <i class="fa fa-2x fa-frown-o"></i>
                    <h6>Poxa vida, seu carrinho ainda está vazio! Clique <a th:href="@{/}">aqui</a> e escolha um
                        super jogo agora mesmo!</h6>
                </div>
                <ul class="list-group list-group-flush" id="listaJogosCarrinho"></ul>
            </div>
            <div class="card-footer d-flex justify-content-around btn-footer">
                <button type="button"
                        id="btnFinalizaCar"
                        onclick="finalizaCarrinho()"
                        class="btn btn-amber btn-card">
                    <i class="fa fa-2x fa-shopping-cart px-2"></i>
                    Finalizar Carrinho
                </button>

                <button type="button"
                        id="btnExcluirCar"
                        onclick="excluirCarrinho()"
                        class="btn btn-blue-grey btn-card">
                    <i class="fa fa-2x fa-trash"></i>
                    Excluir Carrinho
                </button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalFinalizaCarrinho" tabindex="-1">
        <div class="modal-dialog mw-800 mh-80vh">
            <div class="modal-content mh-90vh overflow-only-y">
                <div class="modal-header">
                    <h5 class="modal-title text-center">Finaliza Carrinho</h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">

                            <ul class="stepper stepper-vertical">

                                <li class="active">
                                    <a href="#!" onclick="step('#dadosCliente')">
                                        <span class="circle" id="iconDadosCliente">1</span>
                                        <span class="label">Dados do Cliente</span>
                                    </a>
                                    <div id="dadosCliente" class="step-content"></div>
                                </li>

                                <li id="liDadosCompra">
                                    <a href="#!" onclick="step('#dadosCompra')">
                                        <span class="circle" id="iconDadosCompra">2</span>
                                        <span class="label">Dados da Compra</span>
                                    </a>
                                    <div id="dadosCompra" class="step-content">
                                        <div id="dadosPrincipais"></div>
                                        <div>
                                            <h6 class="color-default text-center font-weight-bolder py-2">Escolha o tipo de frete</h6>
                                            <div class="custom-control border-0" id="dadosFretes"></div>
                                        </div>
                                        <div id="dadosFinaisCompra"></div>
                                    </div>
                                </li>

                                <li id="liDadosConfirmacao">
                                    <a href="#!" onclick="step('#dadosConfirmacao')">
                                        <span class="circle" id="iconDadosConfirmacao">3</span>
                                        <span class="label">Confirmação dos dados</span>
                                    </a>
                                    <div id="dadosConfirmacao" class="step-content">
                                        <div>
                                            <h6 class="text-center font-weight-bold border-title-confirm">Endereço de
                                                Entrega</h6>
                                            <p id="dadosConfRua"></p>
                                            <p id="dadosConfBairro"></p>
                                            <p id="dadosConfNro"></p>
                                            <p id="dadosConfEstado"></p>
                                            <p id="dadosConfCidade"></p>
                                            <p id="dadosConfCep"></p>
                                        </div>

                                        <div>
                                            <h6 class="text-center font-weight-bold border-title-confirm">Produtos da
                                                Compra</h6>
                                            <table class="table table-hover table-striped">
                                                <thead>
                                                <tr>
                                                    <th>Produto</th>
                                                    <th class="text-center">Qtde</th>
                                                    <th class="text-center">Vlr Unitário</th>
                                                    <th class="text-center">Vlr Total</th>
                                                </tr>
                                                </thead>
                                                <tbody id="dadosConfirmacaoProduto"></tbody>
                                            </table>
                                        </div>

                                        <div>
                                            <h6 class="text-center font-weight-bold border-title-confirm">Outras
                                                Informações</h6>
                                            <p id="freteEscolhido"></p>
                                            <p id="valorFreteEscolhido"></p>
                                            <p id="valorCompraSemFrete"></p>
                                            <p class="font-weight-bolder" id="vlrFinalDaCompra"></p>
                                        </div>

                                        <div class="d-flex justify-content-center">
                                            <button type="button"
                                                    class="btn btn-primary"
                                                    onclick="confirmarDadosGerais()">
                                                Continuar
                                            </button>
                                        </div>
                                    </div>
                                </li>

                                <li id="liDadosFinais">
                                    <a href="#!" onclick="step('#dadosFinais')">
                                        <span class="circle"><i class="fa fa-check"></i></span>
                                        <span class="label">Finalizado</span>
                                    </a>
                                    <div id="dadosFinais" class="step-content">
                                        <p class="text-center">Compra realizada com sucesso! :)</p>
                                        <div class="d-flex justify-content-center">
                                            <button type="button"
                                                    class="btn btn-primary"
                                                    onclick="finishCar()">
                                                Finalizar
                                            </button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-sm modal-notify" role="document">
            <div class="modal-content text-center">
                <div class="modal-header d-flex justify-content-center br-top-10">
                    <p class="heading color-default">Deseja realmente excluir?</p>
                </div>
                <div class="modal-body">
                    <i class="fas fa-times fa-4x animated rotateIn color-default"></i>
                </div>

                <div class="modal-footer flex-center">
                    <a href="#!" class="btn btn-outline-primary" onclick="deletarCarrinho()">Sim</a>
                    <a type="button" class="btn btn-primary" data-dismiss="modal">Não</a>
                </div>
            </div>
        </div>
    </div>
</section>

<th:block layout:fragment="script">
    <script type="text/javascript" th:src="@{/vendors/slick/slick.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/model/Frete.js}"></script>
    <script type="text/javascript" th:src="@{/js/model/Produto.js}"></script>
    <script type="text/javascript" th:src="@{/js/service/enderecoService.js}"></script>
    <script type="text/javascript" th:src="@{/js/service/produtoService.js}"></script>
    <script type="text/javascript" th:src="@{/js/service/carrinhoService.js}"></script>
    <script type="text/javascript" th:src="@{/js/util.js}"></script>
    <script type="text/javascript" th:src="@{/js/carrinho.js}"></script>
</th:block>
</body>
</html>
