<!DOCTYPE html>
<html lang="pt"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout-padrao}">
<head>
    <link rel="stylesheet" th:href="@{/vendors/slick/slick-theme.css}"/>
    <link rel="stylesheet" th:href="@{/vendors/slick/slick.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" th:href="@{/css/responsive.css}"/>
</head>
<body>

<section layout:fragment="conteudo">

    <div id="carousel-video" class="carousel slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators">
            <li data-target="#carousel-video" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-video" data-slide-to="1"></li>
            <li data-target="#carousel-video" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <div class="view">
                    <video class="video-fluid" autoplay loop muted>
                        <source src="videos/theLast.mp4" type="video/mp4"/>
                    </video>
                    <div class="mask rgba-indigo-light"></div>
                </div>

                <div class="carousel-caption">
                    <div class="animated fadeInDown">
                        <h3 class="h3-responsive text-white">The Last of Us</h3>
                        <p>Disponível para PS4</p>
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <div class="view">
                    <video class="video-fluid w-100" autoplay loop muted>
                        <source src="videos/pes.mp4" type="video/mp4"/>
                    </video>
                    <div class="mask rgba-purple-slight"></div>
                </div>

                <div class="carousel-caption">
                    <div class="animated fadeInDown">
                        <h3 class="h3-responsive text-white">Pro Evolution Soccer 2019</h3>
                        <p>Disponível para PS4 e Xbox</p>
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <div class="view">
                    <video class="video-fluid" autoplay loop muted>
                        <source src="videos/avenger.mp4"
                                type="video/mp4"/>
                    </video>
                    <div class="mask rgba-black-strong"></div>
                </div>

                <div class="carousel-caption">
                    <div class="animated fadeInDown">
                        <h3 class="h3-responsive text-white">Avengers</h3>
                        <p>Em breve</p>
                    </div>
                </div>
            </div>
        </div>

        <a class="carousel-control-prev" href="#carousel-video" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next" href="#carousel-video" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
    </div>

    <div class="container">
        <div class="card-ps4" id="jogosPs4">
            <h4>Jogos PS4</h4>
            <div class="jogos" id="gamePs"></div>
        </div>

        <div class="card-xbox" id="jogosXbox">
            <h4>Jogos Xbox One</h4>
            <div class="jogos" id="gameXbox"></div>
        </div>

        <div class="card-nintendo" id="jogosNintendo">
            <h4>Jogos Nintendo Wii U</h4>
            <div class="jogos" id="gameNintendo"></div>
        </div>
    </div>

    <div class="container">
        <h4 class="text-center py-2">Depoimentos dos Clientes</h4>
        <div class="d-flex justify-content-between" id="avaliacoes"></div>
    </div>
</section>

<th:block layout:fragment="script">
    <script type="text/javascript" th:src="@{/js/model/Produto.js}"></script>
    <script type="text/javascript" th:src="@{/js/model/Avaliacao.js}"></script>
    <script type="text/javascript" th:src="@{/js/service/produtoService.js}"></script>
    <script type="text/javascript" th:src="@{/js/util.js}"></script>
    <script type="text/javascript" th:src="@{/js/index.js}"></script>
    <script type="text/javascript" th:src="@{/vendors/slick/slick.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/messages.js}"></script>
</th:block>
</body>
</html>