<!DOCTYPE html>
<html lang="pt"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout-padrao}">
<head></head>
<body>
<section layout:fragment="conteudo">
    <div class="page-header" style="margin: 100px">
        <div class="container-fluid" style="display: flex; justify-content: center; align-items: center">
            <img alt="Logotipo da Empresa" th:src="@{/img/logo.png}"/>
        </div>
    </div>
</section>
</body>
</html>