<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Projeto Final</title>

    <link rel="shortcut icon" th:href="@{/img/logo.png}"/>

    <!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"-->
    <!--          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"-->
    <!--          crossorigin="anonymous">-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"/>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"/>
    <link rel="stylesheet" href="https://unpkg.com/shards-ui@latest/dist/css/shards.min.css">
    <link rel="stylesheet" th:href="@{/vendors/materialDesign/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/vendors/materialDesign/css/mdb.min.css}">
    <link rel="stylesheet" th:href="@{/vendors/sweetalert/sweetalert.css}"/>
    <link rel="stylesheet" th:href="@{/vendors/social/assets/css/font-awesome.css}"/>
    <link rel="stylesheet" th:href="@{/vendors/social/bootstrap-social.css}"/>
    <link rel="stylesheet" th:href="@{/vendors/jquery-toast-plugin-master/src/jquery.toast.css}"/>
    <link rel="stylesheet" th:href="@{/vendors/bootstrap-datepicker/css/bootstrap-datepicker.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" th:href="@{/css/responsive.css}"/>

    <script type="text/javascript" th:src="@{/vendors/jquery/jquery.js}"></script>

</head>

<body>

<nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">

    <a class="navbar-brand d-flex align-items-center" th:href="@{/}">
        <i class="fa fa-2x fa-gamepad white-text px-2"></i>
        <strong>GameStore</strong>
    </a>

    <button class="navbar-toggler" data-toggle="collapse" data-target="#nav-collapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="nav-collapse">

        <ul class="navbar-nav m-auto">
            <li class="nav-item active px-1">
                <a th:href="@{/}" class="nav-link">Home</a>
            </li>
            <li class="nav-item dropdown px-1">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Nossos Jogos
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" id="dropDownPs4" th:href="@{/#jogosPs4}">PS4</a>
                    <a class="dropdown-item" id="dropDownXbox" th:href="@{/#jogosXbox}">XboxOne</a>
                    <a class="dropdown-item" id="dropDownNintendo" th:href="@{/#jogosNintendo}">Nintendo</a>
                </div>
            </li>
        </ul>

        <ul class="navbar-nav nav-flex-icons nav-icons">
            <li class="nav-item dropdown">
                <a class="nav-link waves-effect d-flex align-items-center dropdown-btn">
                    <span class="white-text px-2" sec:authorize="isAnonymous()">Olá, Visitante</span>
                    <span class="white-text px-2" id="usuario" sec:authorize="isAuthenticated()"
                          sec:authentication="name"></span>
                    <i class="fa fa-2x fa-user white-text"></i>
                </a>
                <div class="dropdown-content content-user">
                    <div id="dropdown-user">
                        <ul sec:authorize="isAnonymous()" class="list-group list-group-flush">
                            <li class="list-group-item"><a onclick="openLogin()" class="color-default">Login</a></li>
                            <li class="list-group-item"><a onclick="openModalCadUsuario(true)" class="color-default">Registrar-se</a>
                            </li>
                        </ul>

                        <ul sec:authorize="isAuthenticated()" class="list-group list-group-flush">
                            <li class="list-group-item"><a onclick="openForm()" class="color-default">Minha Conta</a>
                            </li>
                            <li class="list-group-item"><a onclick="openScreenPedidos()" class="color-default">Meus Pedidos</a></li>
                            <li class="list-group-item text-right"><a th:href="@{/logout}">
                                <i title="Sair" class="fa fa-2x fa-sign-out pointer"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link waves-effect d-flex align-items-center dropdown-btn">
                    <i class="fa fa-2x fa-shopping-cart mr-2"></i>
                    <span class="badge red z-depth-1" id="qtdeItensCar"></span>
                </a>
                <div class="dropdown-content">
                    <div class="carrinho-view">
                        <ul id="itensCard" class="p-0"></ul>
                    </div>
                    <div class="d-flex flex-column carrinho-view-details">
                        <div class="d-flex justify-content-between">
                            <span id="carrinho-view-details-qtde"></span>
                            <span id="carrinho-view-details-total"></span>
                        </div>
                        <a class="btn btn-amber" th:href="@{/carrinho}">Ir para Carrinho</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div class="modal fade" id="modalLogin" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center">Login</h5>
            </div>
            <div class="modal-body">
                <form id="formLogin" th:action="@{/login}" method="POST" onsubmit="validaLogin()">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="username">Usuário</label>
                                <input id="username"
                                       name="username"
                                       class="form-control"
                                       type="text">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="password">Senha</label>
                                <input id="password"
                                       name="password"
                                       class="form-control"
                                       type="password">
                            </div>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <div class="text-center mt-2">
                            <button class="btn btn-primary"
                                    type="submit"> Login
                                <i class="fas fa-sign-in-alt ml-1"></i>
                            </button>
                        </div>
                    </div>
                    <div class="alert alert-danger"
                         th:if="${#bools.isTrue(param.error)}">
                        O usuário e/ou senha inválido(s)!
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalExit" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content mt-100px">
            <div class="modal-header d-block">
                <h5 class="modal-title text-center">Hey, espere...</h5>
            </div>
            <div class="modal-body text-center d-flex align-items-center justify-content-center">
                <h6 class="font-size-11">Fique mais e aproveite nossas ofertas.</h6>
                <img class="w-100p" th:src="@{/img/mario.png}" alt="Mario Bros">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalCadastroUsuario" tabindex="-1">
    <div class="modal-dialog mw-800">

        <form id="formCadUsuario" onsubmit="inserirUsuario(event)">

            <div class="modal-content mh-90vh">
                <div class="modal-header">
                    <h5 class="modal-title text-center">Cadastro de Usuário</h5>
                </div>

                <div class="modal-body overflow-auto">
                    <ul class="nav nav-tabs" id="tabCadastro" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active color-default" id="tabCadBasico" data-toggle="tab"
                               href="#cadBasico" role="tab" aria-controls="cadBasico"
                               aria-selected="true">Dados Pessoais</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link color-default" id="tabCadEndereco" data-toggle="tab"
                               href="#cadEndereco"
                               role="tab" aria-controls="cadEndereco"
                               aria-selected="false">Endereço</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link color-default" id="tabCadObs" data-toggle="tab" href="#cadObs"
                               role="tab"
                               aria-controls="cadObs"
                               aria-selected="false">Outros</a>
                        </li>
                    </ul>

                    <div class="tab-content">

                        <div class="tab-pane fade show active" id="cadBasico" role="tabpanel"
                             aria-labelledby="tabCadBasico">

                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label for="cadNome">Nome *</label>
                                        <input id="cadNome"
                                               name="cadNome"
                                               class="form-control"
                                               type="text">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="cadDtNasc">Data Nascimento *</label>
                                        <input id="cadDtNasc"
                                               name="cadDtNasc"
                                               class="form-control datepicker"
                                               type="text">
                                    </div>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="cadCpf">CPF *</label>
                                        <input id="cadCpf"
                                               name="cadCpf"
                                               class="form-control"
                                               type="text">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="cadTelRes">Telefone Res.</label>
                                        <input id="cadTelRes"
                                               name="cadTelRes"
                                               class="form-control"
                                               type="text">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="cadTelCel">Telefone Cel. *</label>
                                        <input id="cadTelCel"
                                               name="cadTelCel"
                                               class="form-control"
                                               type="text">
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="cadUsuario">Usuário *</label>
                                        <input id="cadUsuario"
                                               name="cadUsuario"
                                               type="text"
                                               class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="cadSenha">Senha *</label>
                                        <input id="cadSenha"
                                               name="cadSenha"
                                               class="form-control"
                                               type="password">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="cadSenhaConfirm">Confirmar Senha *</label>
                                        <input id="cadSenhaConfirm"
                                               name="cadSenhaConfirm"
                                               class="form-control"
                                               type="password">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="cadEndereco" role="tabpanel"
                             aria-labelledby="tabCadEndereco">

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="cadEndRua">Rua *</label>
                                        <input id="cadEndRua"
                                               name="cadEndRua"
                                               class="form-control"
                                               type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="cadEndBairro">Bairro *</label>
                                        <input id="cadEndBairro"
                                               name="cadEndBairro"
                                               class="form-control"
                                               type="text">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="cadEndNro">Número *</label>
                                        <input id="cadEndNro"
                                               name="cadEndNro"
                                               class="form-control"
                                               type="number">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="cadEndCep">CEP *</label>
                                        <input id="cadEndCep"
                                               name="cadEndCep"
                                               class="form-control"
                                               type="text">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group text-left">
                                        <label for="estado">Estado</label>
                                        <input type="text"
                                               id="estado"
                                               name="estado"
                                               onblur="habilitaCidade()"
                                               class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="form-group text-left">
                                        <label for="cidade">Cidade</label>
                                        <input type="text"
                                               id="cidade"
                                               name="cidade"
                                               disabled
                                               class="form-control">
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="tab-pane fade" id="cadObs" role="tabpanel" aria-labelledby="tabCadObs">
                            <label for="cadEndObs">Observações:</label>
                            <textarea name="cadEndObs"
                                      id="cadEndObs"
                                      cols="30"
                                      rows="10"
                                      class="form-control">
                                </textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary"
                            type="submit">
                        Salvar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<main class="page-content">
    <div>
        <section class="ut-layout-content" layout:fragment="conteudo"></section>
    </div>
</main>

<div class="border-top-footer"></div>

<footer>
    <div class="d-flex justify-content-around list-links">
        <ul>
            <li class="title py-1">Institucional</li>
            <li class="py-1"><a href="#">Quem Somos</a></li>
            <li class="py-1"><a href="#">Política de Vendas</a></li>
            <li class="py-1"><a href="#">Segurança e Privacidade</a></li>
            <li class="py-1"><a href="#">Trabalhe Conosco</a></li>
            <li class="py-1"><a href="#">Regulamentos</a></li>
        </ul>

        <ul>
            <li class="title py-1">Ajuda</li>
            <li class="py-1"><a href="">Fale Conosco</a></li>
            <li class="py-1"><a href="#">Política de Privacidade</a></li>
            <li class="py-1"><a href="#">Assistência Técnica</a></li>
            <li class="py-1"><a href="#">Termos de Compra e Venda</a></li>
        </ul>

        <ul>
            <li class="title py-1">Atendimento</li>
            <li class="py-1"><a href="#">Meus Pedidos</a></li>
            <li class="py-1"><a href="#">Trocas</a></li>
            <li class="py-1"><a href="#">Devoluções</a></li>
            <li class="py-1"><a href="#">Cancelamentos</a></li>
        </ul>

        <ul>
            <li class="title py-1">Serviços</li>
            <li class="py-1"><a href="#">Televendas</a></li>
            <li class="py-1"><a href="#">Clube dos Nerds</a></li>
            <li class="py-1"><a href="#">Lista de Férias</a></li>
            <li class="py-1"><a href="#">Cartão GameStore</a></li>
        </ul>
    </div>

    <div class="d-flex list-pag-social">

        <div>
            <span class="title py-1">Formas de Pagamento</span>
            <ul class="d-flex flex-row p-0 list-bandeiras">
                <li><img class="img-cartao" th:src="@{/img/bandeiras/master.png}" alt="MasterCard"
                         title="MasterCard"/></li>
                <li><img class="img-cartao" th:src="@{/img/bandeiras/maestro.png}" alt="Maestro" title="Maestro"/>
                </li>
                <li><img class="img-cartao" th:src="@{/img/bandeiras/visa.png}" alt="Visa" title="Visa"/></li>
                <li><img class="img-cartao" th:src="@{/img/bandeiras/visaElectron.png}" alt="Visa Electron"
                         title="Visa Electron"/></li>
                <li><img class="img-cartao" th:src="@{/img/bandeiras/diners.png}" alt="Diners Club"
                         title="Diners Club"/></li>
                <li><img class="img-cartao" th:src="@{/img/bandeiras/americanExpress.png}" alt="American Express"
                         title="American Express"/></li>
            </ul>
        </div>

        <ul>
            <li class="title py-1">Nossas Redes Sociais</li>
            <a class="btn btn-social-icon btn-instagram rounded-circle">
                <span class="fa fa-instagram" title="Instagram"></span>
            </a>
            <a class="btn btn-social-icon btn-facebook rounded-circle">
                <span class="fa fa-facebook" title="Facebook"></span>
            </a>
            <a class="btn btn-social-icon btn-twitter rounded-circle">
                <span class="fa fa-twitter" title="Twitter"></span>
            </a>
            <a class="btn btn-social-icon btn-tumblr rounded-circle">
                <span class="fa fa-tumblr" title="Tumblr"></span>
            </a>
            <a class="btn btn-social-icon btn-google rounded-circle">
                <span class="fa fa-google" title="Google"></span>
            </a>
        </ul>
    </div>
    <p class="autorais">Copyright ©1999 - 2019 www.gamestore.com.br, TODOS OS DIREITOS RESERVADOS. Todo o conteúdo
        do site, todas as
        fotos, imagens, logotipos, marcas, dizeres, som, software, conjunto imagem, layout, trade dress, aqui
        veiculados são de propriedade exclusiva da empresa. É vedada qualquer reprodução, total ou
        parcial, de qualquer elemento de identidade, sem expressa autorização. A violação de qualquer direito
        mencionado implicará na responsabilização cível e criminal nos termos da Lei. Game's Store S/A - CNPJ:
        79.152.498/0001-46 Rua da Esperança, 2019 - Vila dos Milagres - CEP 85504-000 - Pato Branco - PR</p>
</footer>

<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script type="text/javascript" th:src="@{/vendors/bootstrap-datepicker/js/bootstrap-datepicker.min.js}"></script>
<script type="text/javascript" th:src="@{/vendors/materialDesign/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/vendors/materialDesign/js/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/vendors/materialDesign/js/mdb.js}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.js"></script>
<script type="text/javascript" th:src="@{/vendors/sweetalert/sweetalert-dev.js}"></script>
<script type="text/javascript" th:src="@{/vendors/jquery-toast-plugin-master/src/jquery.toast.js}"></script>
<script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery.validate/1.7/jquery.validate.js"></script>
<script type="text/javascript" th:src="@{/js/layout-padrao.js}"></script>
<script type="text/javascript" th:src="@{/js/messages.js}"></script>
<script type="text/javascript" th:src="@{/js/util.js}"></script>
<script type="text/javascript" th:src="@{/js/validations.js}"></script>
<script type="text/javascript" th:src="@{/js/model/Cliente.js}"></script>
<script type="text/javascript" th:src="@{/js/model/Endereco.js}"></script>
<script type="text/javascript" th:src="@{/js/service/clienteService.js}"></script>
<script type="text/javascript">$('.datepicker').datepicker({
    format: 'dd/mm/yyyy',
    autoclose: true
})</script>
<th:block layout:fragment="script"></th:block>
</body>
</html>
